.hidden{
    display: none;
}
body{
    font-family: inter;
}
h1{
    text-align: center;
    margin: auto;
    font-family: inter;
    font-weight: bold;
    font-size: 36px;
}
table,
td{
    border-width:1px ;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding: 20px;
    margin: 100px  auto auto auto;
    width: auto;
}
thead{
    font-weight: bold;
}
.toggle{
    display: flex;
    justify-content: center;
    margin: 10px auto auto auto;
    font-size: 20px;
    font-family: inter;
}
.add{
    display: flex;
    justify-content: center;
    margin: 50px auto; 
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.input{
    font-size: 20px;
}
.tableau{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}