h1{
    text-align: center;
    margin: auto;
    font-family: inter;
    font-weight: bold;
    font-size: 36px;
}
.bienvenue{
    text-align: center;
    margin: 50px auto;
    font-family: inter;
    font-size: 20px;
}
.categories{
    display: flex;
    justify-content: center;
    margin: 100px auto;
    width: fit-content;
    font-family: inter;
}
.categorie{
    width: 200px;
    margin: auto 50px;
    padding: 15px;
    border: solid;
}
a{
    display: flex;
    justify-content: center;
    margin: 20px auto auto auto;
    width: fit-content;
    text-decoration: none;
}
input{
font-family: inter;
  font-size: 20px;
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}
.mt20{
    margin-top: 20px;
}
input:disabled {
    cursor: default;
  }
  
input:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
input:hover{
    opacity: 0.7;
}
#deconnexion{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: auto;
}