body{
    font-family: inter;
    color: black;
    border-color: black;
}
h1{
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 36px;
}
#commentaires{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 100px auto;
    width: fit-content;
    border: solid;
    border-bottom: 0px;
    border-radius: 5px;
    
}
.message{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.newComment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;

}
ul{
    display: flex;
    text-align: right;
    justify-content: right;
    flex-direction: column;
    border-width: 5px;
    margin-left: 20px;
}
#texte{
    text-align: left;
    padding-right: 5px;
    border-bottom: solid;
}
.right{
    text-align: right;
    border-left: solid;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    padding-left: 5px;
}
#texte{
    width: 30vw;
    word-break: break-all;
}